
html {
  min-height: 100%;
  overflow-y: scroll;
  padding: 0em;
}

body{
     background-color: rgb(174, 179, 164); 
    
    padding: 0px;
    margin: 0px;
     display: flex;
    flex-direction: column;  
    height: fit-content;
    bottom: 0em;
    overflow: hidden;
    padding-bottom: 0em;
    
}
.sidebar {
  width: 20%;
  height: 100%;
  
}

.sideul{
    display: flex;
    flex-direction: column;
    background-color: rgb(87, 80, 80);
    font-size:25px;
    list-style: none;
    
    height:100%;
    padding: 0px;
    margin:0px;
     padding-bottom:40%; 
    
    
}  
ul{
    list-style: none;
} 
.sidebar li a{
    
    margin-bottom: 1%;
    background-color:rgb(233, 108, 5);
    display: flex;
    padding:8% 0%;
    justify-content:left;
    text-decoration: none;
    font-weight:200;
    height:fit-content;
    color:rgb(255, 255, 255);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 10px;
    word-break:break-all;
}
.sidebar li a:hover {
   
  border-style: solid;
  border-width: 4px;
  border-color: rgb(0, 0,0);
  border-radius: 20px;
    
  }
 
  


.main{
    display: flex;
    flex-direction: row;
    
    
    /* overflow: hidden; */
    height: 100em;
    
    
}
.homeul{
    display: flex;
    flex-direction: row;
    /* width:1020px; */
    width: 100%;
    height:10%;
    margin: 0%;
    padding: 5%;
    text-decoration: none;

   
    
}
.home {
  width: 80%;
  padding-bottom: 40%;
  height: 100%;
  
}


.homeb{
    
    width:150px;
    height:20px;
    margin:10px;
    margin-top: 20px;
    background-color:rgb(206, 137, 80);
    color: white;
    border-style: solid;
    border-color: black;
    padding: 10px;
    width:200px;
    text-decoration: none;
}
.homeb:hover {
   
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 0,0);
    border-radius: 20px;
  }

  .title {
      text-align: center;
  }

  table {
      width: 100%;
      border-collapse: collapse;
    font-size: 1.1rem;
    ;
    
  }

  th,td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid ;
    box-shadow: 3px 3px 3px;
    
}
.edit {
    color: rgb(42, 116, 42);
    text-decoration: none;
    width: 50px;
    border-style: double;
    border-color: rgb(101, 105, 36);
    border-radius: 10px;
    background-color: rgb(212, 235, 212);
    padding: 5px;
}
.delete {
    color: rgb(247, 7, 7);
    text-decoration: none;
    border-style: double;
    border-color: rgb(151, 66, 55);
    border-radius: 10px;
    background-color: rgb(224, 180, 164);
    padding: 5px;
        
}
.edit:hover,.delete:hover {
    text-decoration: underline;
}

.input {
    width: 50%;
    height: 35px;
}
.label {
    font-size: 1.5rem;
    color: rgb(17, 16, 16);
}
.form {
    padding-left: 50px;
}
#body {
    width: 60%;
    height: 35px;
    
}

.topic {
    width: 60%;
    height: 35px;

}
.submit {
    width: 150px;
    height: 35px;
    background-color:rgb(206, 137, 80);
    color: white;
    
}
.submit:hover {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0,0);
    border-radius: 10px;
}
.heading {
    text-align: center;
    color: rgb(233, 108, 5);
    padding: 5px;
    text-shadow: 2px 2px green ;
    
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .nav {

    float: right;
}
.homenav{
  display: flex;
  flex-direction: row;
  float: right;
}
.theme {
  margin: 0.4em;
  
}
  .dark-mode {
      
     background: rgb(43, 40, 40); 
      color: rgb(182, 169, 169);
  }
  
  .dark-mode .sidebar li a {
      background-color:blueviolet;
  }
  .dark-mode .homeb {
    background-color:blueviolet;

  }
  .dark-mode .sidebar ul{
    background-color: rgb(29, 25, 25);
  }
  .dark-mode .label {
    color: blueviolet;
  }
  .dark-mode .submit {
    background-color: blueviolet;
  }
  .dark-mode table {
    color: blueviolet;
  }
  .dark-mode .heading{
    color: blueviolet;
  }
  
  .dark-mode .sidebar {
    border-style: double;
    border-width: 1px;
    border-color: blueviolet;
  }
  .dark-mode .admin-enter {
    color: blueviolet;
  }
  .dark-mode .theme {
    color: blueviolet;
  }
  

  .admin-enter{
    align-content: center;
    text-align: center;
    margin-top: 10%;
  }
  
  
  
    
  






